/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
svg.ext,
svg.mailto{
	display: none;
}


/* Style */
html {
	height: 100%;
	font-family: 'Poppins', sans-serif;
	background-color:blue;
	color : white;
	margin : 20px
}
a, a:active, a::after{
	text-decoration: none;
	color: rgb(20, 82, 40);
}
a:hover{
	text-decoration: none;
	color: rgb(175, 46, 46);
}
.small, .medium, .large{
	display: none;
}
.large .title {
	font-size: 10em;
	margin-bottom: 10px;

}
.medium .title {
	font-size: 5em;
	margin-bottom: 10px;

}
.small .title{
	font-size: 3em;
	margin-bottom: 10px;

}


/* MediaQueries */

/* Media Query pour les ordinateurs (largeur minimale de 1024px) */
@media (min-width: 1024px) {
	.large { 
		display: block;
	}
}
/* Media Query pour les tablettes (largeur entre 768px et 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
	html {
		background-color:green;
	}
	.medium  { 
		display: block;
	}
}
/* Media Query pour les smartphones (largeur maximale de 767px) */
@media (max-width: 767px) {
	html {
		background-color:red;
	}
	.small  { 
		display: block;
	}
	.medium  { 
		display: none;
	}
}
